<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--<add name="SQLServerConnection" connectionString="Data Source=DESKTOP-5LLVHR6;Initial Catalog=logatti-tasi-avaliacao-p1;Integrated Security=True;" providerName="System.Data.SqlClient" /> -->
    <add name="SQLServerConnection" connectionString="Data Source=LAPTOP-KSTB20OB;Initial Catalog=Escola;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>